/* src/components/ImageCarousel.css */
/* Override default arrow styles */
.slick-prev:before,
.slick-next:before {
  font-size: 1px; /* Adjust the size as needed */
  color: transparent; /* Change the color (transparent vs black) to see default button */
  content: ''; /* Clear default content */
}

.slick-prev,
.slick-next {
  width: 40px; /* Adjust width */
  height: 40px; /* Adjust height */
  top: auto;
  bottom: 25px;
  z-index: 10;
  
}

.slick-next {
    right: 25% !important; /* Adjust right arrow*/
  }

.slick-prev {
  left: 65% !important; /* Adjust left arrow*/
}

