.required-field::after {
  content: "*";
  color: #c70039;
  position: absolute;
  margin-left: 5px;
}
select {
  color: #000000;
}

select:invalid {
  color: #9aa1b9;
}

.error {
  color: red;
  font-size: 14px;
}
option {
  color: black;
}
