/* Media query for default screens */
/* ***** SampleSwiptArrow: right arrow and left arrow ***** */

/* Override default arrow styles */
.slick-prev:before,
.slick-next:before {
  font-size: 1px; /* Adjust the size as needed */
  color: transparent; /* Change the color (transparent vs black) to see default button */
  content: ''; /* Clear default content */
}

.slick-prev,
.slick-next {
  width: 40px; /* Adjust width */
  height: 40px; /* Adjust height */
  top: auto;
  bottom: 25px;
  z-index: 10;
  position: absolute;
  
}

.slick-next {
    left: 67% !important; /* Adjust right arrow */
  }
  
  .slick-prev {
    left: 62% !important; /* Adjust left arrow */
  }

/* Media query for extra large screens */
@media (max-width: 1600px) {
    .slick-next {
        left: 72% !important; /* Maintain right arrow position */
    }
    
    .slick-prev {
        left: 67% !important; /* Maintain left arrow position */
    }
}

/* Media query for extra large screens */
@media (max-width: 1400px) {
    .slick-next {
        left: 72% !important; /* Maintain right arrow position */
    }
    
    .slick-prev {
        left: 67% !important; /* Maintain left arrow position */
    }
}

/* Media query for large screens */
@media (max-width: 1200px) {
.slick-next {
    left: 70% !important; /* Maintain right arrow position */
}

.slick-prev {
    left: 65% !important; /* Maintain left arrow position */
}
}

/* Media query for medium screens */
@media (max-width: 1024px) {
.slick-next {
    left: 70% !important; /* Maintain right arrow position */
}

.slick-prev {
    left: 65% !important; /* Maintain left arrow position */
}

.slick-next,
.slick-prev {
    display: none !important; /* Hide arrows */
}
}
  
  
  
  /* Ensure carousel is behind other elements */
  .slick-slider {
    z-index: 5 !important; /* Set a lower z-index for the carousel */
  }
  
  .carousel-image {
    z-index: 5 !important; /* Ensure images are behind other elements */
  }